<div class="card">
  <div class="card-header">
    <div class="card-header-text w-100 col-md-10">
      <div class="card-title">
        <h4>Product Versions</h4>
        <p>Total: {{length}}</p>
      </div>
    </div>
    <div class=" w-100 col-md-2 mt-3">
      <button title="Create New" class="btn btn-primary" (click)="open(content)">New</button>
    </div>
  </div>
  <div class="table-responsive mb-5">
    <table class="table table-hover mb-0 align-middle">
      <thead class="thead-inverse">
      <tr>
        <th>Version</th>
        <th>Product Model</th>
        <th>Hardware version</th>
        <th>Softgoods Version</th>
        <th>Description</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let u of pVersions">
        <td class="text-capitalize">{{u.version}}</td>
        <td class="text-capitalize">{{u.product_model.name}}</td>
        <td class="text-capitalize">{{u.hardware_version.name}}</td>
        <td class="text-capitalize">{{u.softgoods_version.name}}</td>
        <td class="text-capitalize">
          <span *ngIf="u.description">
            <span *ngIf="u.description.length > 100">{{u.description.substr(0,100)}}...</span>
            <span *ngIf="!(u.description.length > 100)">{{u.description}}</span>
          </span>
        </td>
        <td>
          <button title="View" class="btn btn-sm btn-info mb-1 mr-2"><i class="icon icon-basic-eye"></i></button>
          <button title="Edit" class="btn btn-sm btn-info mb-1 mr-2"><i class="icon icon-software-pencil"></i></button>
          <button title="Delete" class="btn btn-sm btn-info mb-1"><i class="icon icon-basic-trashcan"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer border-top">
    <div class="row">
      <div class="col-lg-12">
        <pagination
                style="float: right !important"
                class="pagination-sm pull-right"
                firstText="««"
                previousText="«"
                nextText="»"
                lastText="»»"
                [(ngModel)]="page"
                [totalItems]="length"
                [itemsPerPage]="itemsPerPage"
                [maxSize]="maxSize"
                [boundaryLinks]="true"
                [rotate]="false"
                (pageChanged)="onChangeTable($event)"
                (numPages)="numPages = $event">
        </pagination>
      </div>
    </div>
  </div>
  <ng-template #content let-c="close" let-d="dismiss">
    <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
      <div class="modal-header">
        <h6 class="modal-title text-uppercase">New Product Version</h6>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <label>Version <small class="text-red">*</small></label>
            <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['version'].hasError('required') && form.controls['version'].touched}">
              <input type="text" class="form-control" placeholder="Version" [formControl]="form.controls['version']" [ngClass]="{'form-control-danger': form.controls['version'].hasError('required') && form.controls['version'].touched}"/>
              <div class="form-control-feedback" *ngIf="form.controls['version'].hasError('required') && form.controls['version'].touched">Version is required.</div>
            </fieldset>
          </div>
          <div class="col-12">
            <label>Product Model <small class="text-red">*</small></label>
            <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['product_model_id'].hasError('required') && form.controls['product_model_id'].touched}">
              <select class="form-control" id="exampleSelect1" [formControl]="form.controls['product_model_id']" [ngClass]="{'has-danger': form.controls['product_model_id'].hasError('required') && form.controls['product_model_id'].touched}">
                <option disabled selected [value]=noVal>Select Model</option>
                <option *ngFor="let pm of pModels" value="{{pm.id}}" >{{pm.name}}</option>
              </select>
              <div class="form-control-feedback" *ngIf="form.controls['product_model_id'].hasError('required') && form.controls['product_model_id'].touched">Product Model is required.</div>
            </fieldset>
          </div>
          <div class="col-12">
            <label>Hardware version <small class="text-red">*</small></label>
            <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['hardware_version_id'].hasError('required') && form.controls['hardware_version_id'].touched}">
              <select class="form-control" id="exampleSelect2" [formControl]="form.controls['hardware_version_id']" [ngClass]="{'has-danger': form.controls['hardware_version_id'].hasError('required') && form.controls['hardware_version_id'].touched}">
                <option disabled selected [value]=noVal>Select Version</option>
                <option *ngFor="let hv of hVersions" value="{{hv.id}}" >{{hv.name}}</option>
              </select>
              <div class="form-control-feedback" *ngIf="form.controls['hardware_version_id'].hasError('required') && form.controls['hardware_version_id'].touched">Hardware version is required.</div>
            </fieldset>
          </div>
          <div class="col-12">
            <label>Softgoods Version <small class="text-red">*</small></label>
            <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['softgoods_version_id'].hasError('required') && form.controls['softgoods_version_id'].touched}">
              <select class="form-control" id="exampleSelect3" [formControl]="form.controls['softgoods_version_id']" [ngClass]="{'has-danger': form.controls['softgoods_version_id'].hasError('required') && form.controls['softgoods_version_id'].touched}">
                <option disabled selected [value]=noVal>Select Version</option>
                <option *ngFor="let sv of sVersions" value="{{sv.id}}" >{{sv.name}}</option>
              </select>
              <div class="form-control-feedback" *ngIf="form.controls['softgoods_version_id'].hasError('required') && form.controls['softgoods_version_id'].touched">Softgoods Version is required.</div>
            </fieldset>
          </div>
          <div class="col-12">
            <label>Notes</label>
            <fieldset class="form-group">
              <textarea type="text" class="form-control" placeholder="Notes" [formControl]="form.controls['notes']"></textarea>
            </fieldset>
          </div>
          <div class="col-12">
            <label>Description</label>
            <fieldset class="form-group">
              <textarea type="text" class="form-control" placeholder="Description" [formControl]="form.controls['description']"></textarea>
            </fieldset>
          </div>
        </div>
        <div class="block mb-3"></div>
      </div>
      <div class="modal-footer">
        <button title="Close" type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
        <button title="Create" class="btn btn-primary" type="submit" [disabled]="!form.valid">Create</button>
      </div>
    </form>
  </ng-template>

  <ng-template #editModalContent let-c="close" let-d="dismiss">
    <form [formGroup]="editForm">
      <div class="modal-header">
        <h6 class="modal-title text-uppercase">Edit</h6>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <label>First Name</label>
            <fieldset class="form-group">
              <input type="text" class="form-control" placeholder="First name" [value]="userToEdit.first_name" [formControl]="editForm.controls['fname']"/>
            </fieldset>
          </div>
          <div class="col-6">
            <label>Last name</label>
            <fieldset class="form-group">
              <input type="text" class="form-control" placeholder="Last Name" [value]="userToEdit.last_name" [formControl]="editForm.controls['lname']"/>
            </fieldset>
          </div>
          <div class="col-12" *ngIf="loggedInUser.role===userToEdit">
            <label>Role</label>
            <fieldset class="form-group">
              <select class="form-control" [formControl]="editForm.controls['role']">
                <option [disabled]="true" [selected]="userToEdit.role===no? selected: no">Select a role</option>
                <option value="support" [selected]="userToEdit.role===support? selected: no">Support</option>
                <option value="user" [selected]="userToEdit.role===user? selected: no">User</option>
                <option value="admin" [selected]="userToEdit.role===userToEdit? selected: no">Admin</option>
              </select>
            </fieldset>
          </div>
        </div>
        <div class="block mb-3"></div>
      </div>
      <div class="modal-footer">
        <button title="Close" type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
        <button title="Save" class="btn btn-primary" type="submit" (click)="onSaveChanges(userToEdit.id)">Save</button>
      </div>
    </form>
  </ng-template>
</div>