<div class="card">
  <div class="card-header">
    <div class="card-header-text w-100 col-md-10">
      <button title="Create New" class="btn btn-primary" routerLink='/functionalmovements/{{functionalMovementId}}/functionalmovementrevisions/new'>New</button>
    </div>
  </div>
  <div class="card-block">
    <p>Total Revisions: {{revisions.length}}</p>
  </div>
  <div class="table-responsive mb-5">
    <table class="table table-hover mb-0 align-middle">
      <thead class="thead-inverse">
      <tr>
        <th>Name</th>
        <th>Revision Number</th>
        <th>Decription</th>
        <th>Created At</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let revision of revisions">
        <td>{{functionalMovementName}}</td>
        <th scope="row" class="myLink"><a routerLink='/functionalmovements/{{functionalMovementId}}/functionalmovementrevisions/{{revision.id}}'>{{revision.revision_number}}</a></th>
        <td>{{revision.description}}</td>
        <td>{{revision.created_timestamp | date:'medium'}}</td>
        <td>
          <button title="Edit Description" class="btn btn-info mb-1 mr-2" (click)="openEditModal(editModalContent,revision.id)"><i class="icon icon-software-pencil"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <ng-template #editModalContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h6 class="modal-title text-uppercase">Edit Description</h6>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <textarea rows="4" type="text" class="form-control" [(ngModel)]="description"></textarea>
        </div>
      </div>
      <div class="block mb-3"></div>
    </div>
    <div class="modal-footer">
      <button title="Close" type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
      <button title="Save" class="btn btn-primary" type="submit" (click)="onSaveChanges()">Save</button>
    </div>
  </ng-template>
</div>