<div class="card embed-responsive">
  <div class="card-header">
    <div class="card-header-text col-10">
      <div class="card-title">
        <h4>Tests</h4>
        <p>Total: {{length}}</p>
      </div>
    </div>
    <div class="col-2">
      <button title="New Test" class="btn btn-primary" (click)="openNewTestModal(content)">New</button>
    </div>
  </div>
  <div class="card-block">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-4">
          <fieldset class="form-group">
            <ng-select
                    [multiple]="multiple"
                    [placeholder]="userPlaceholderText"
                    [allowClear]="canClearSelect"
                    [options]="userOptions"
                    [(ngModel)]="userSelectValue"
                    (selected)="onSearch($event)"
                    (deselected)="onSearch($event)"
                    formControlName="user">
            </ng-select>
          </fieldset>
        </div>
        <div class="col-4">
          <fieldset class="form-group">
            <ng-select
                    [multiple]="multiple"
                    [placeholder]="testTypePlaceholderText"
                    [allowClear]="canClearSelect"
                    [options]="testTypeOptions"
                    [(ngModel)]="testTypeSelectValue"
                    (selected)="onSearch($event)"
                    (deselected)="onSearch($event)"
                    formControlName="test">
            </ng-select>
          </fieldset>
        </div>
        <div class="col-4">
          <fieldset class="form-group" >
            <ng-select
                    [multiple]="multiple"
                    [placeholder]="suitPlaceholderText"
                    [allowClear]="canClearSelect"
                    [options]="suitOptions"
                    [(ngModel)]="suitSelectValue"
                    (selected)="onSearch($event)"
                    (deselected)="onSearch($event)"
                    formControlName="suit">
            </ng-select>
          </fieldset>
        </div>
      </div>
    </form>
  </div>
  <div class="table-responsive mb-5">
    <table class="table table-hover mb-0 align-middle">
      <thead class="thead-inverse">
      <tr>
        <th>Name</th>
        <th>Test Date</th>
        <th>Type</th>
        <th>Suit</th>
        <th>Duration</th>
        <th>Created At</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let t of tests">
        <th scope="row" routerLink="/tests/{{t.id}}">{{t.label}} </th>
        <td routerLink="/tests/{{t.id}}">{{t.test_date | date:'mediumDate'}}</td>
        <td routerLink="/tests/{{t.id}}">{{t.test_type.label}}</td>
        <td routerLink="/tests/{{t.id}}">{{t.suit_config.label}}</td>
        <td routerLink="/tests/{{t.id}}">{{t.duration}}</td>
        <td routerLink="/tests/{{t.id}}">{{t.created_timestamp | date:'medium'}}</td>
        <td>
          <button title="Data Intervals" class="btn btn-sm btn-info" (click)="openDownloadModal(downloadModalContent,t.id)"><i class="icon icon-basic-download"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer border-top">
    <div class="row">
      <div class="col-lg-12">
        <pagination
                style="float: right !important"
                class="pagination-sm pull-right"
                firstText="««"
                previousText="«"
                nextText="»"
                lastText="»»"
                [(ngModel)]="page"
                [totalItems]="length"
                [itemsPerPage]="itemsPerPage"
                [maxSize]="maxSize"
                [boundaryLinks]="true"
                [rotate]="false"
                (pageChanged)="onChangeTable($event)"
                (numPages)="numPages = $event">
        </pagination>
      </div>
    </div>
  </div>
  <ng-template #downloadModalContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h6 class="modal-title text-uppercase">Data Intervals</h6>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card">
      <div class="card-block">
        <div *ngIf="dataIntervals.length; else blankBlock" class="table-responsive mb-5">
          <table class="table table-hover mb-0 align-middle">
            <thead class="thead-inverse">
            <tr>
              <th>Start</th>
              <th>End</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dataInterval of dataIntervals">
              <td>{{dataInterval.start_timestamp | date:'short'}}</td>
              <td>{{dataInterval.stop_timestamp | date:'short'}}</td>
              <td>
                <p *ngIf="dataInterval.data_url; then thenBlock else elseBlock" ></p>
                <ng-template #thenBlock><a href="{{dataInterval.data_url}}" download="true">Download</a></ng-template>
                <ng-template #elseBlock>File doesn't exist.</ng-template>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <ng-template #blankBlock>
          <ngb-alert [dismissible]="false">
            No data intervals found
          </ngb-alert>
        </ng-template>
      </div>
    </div>
    <div class="modal-footer" *ngIf="dataIntervals.length">
      <div class="row">
        <div class="col-lg-12">
          <pagination
                  style="float: right !important"
                  class="pagination-sm pull-right"
                  firstText="««"
                  previousText="«"
                  nextText="»"
                  lastText="»»"
                  [(ngModel)]="pageModal"
                  [totalItems]="lengthModal"
                  [itemsPerPage]="itemsPerPageModal"
                  [maxSize]="maxSizeModal"
                  [boundaryLinks]="true"
                  [rotate]="false"
                  (pageChanged)="onChangeTableModal($event)"
                  (numPages)="numPagesModal = $event">
          </pagination>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #content let-c="close" let-d="dismiss">
    <form [formGroup]="newTestForm" (ngSubmit)="onSubmit()">
      <div class="modal-header">
        <h6 class="modal-title text-uppercase">New Test</h6>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <label>Label</label>
            <fieldset class="form-group" [ngClass]="{'has-danger': newTestForm.controls['label'].hasError('required') && newTestForm.controls['label'].touched}">
              <input type="text" class="form-control" placeholder="Label" [formControl]="newTestForm.controls['label']" [ngClass]="{'form-control-danger': newTestForm.controls['label'].hasError('required') && newTestForm.controls['label'].touched}"/>
              <div class="form-control-feedback" *ngIf="newTestForm.controls['label'].hasError('required') && newTestForm.controls['label'].touched">Title is required.</div>
            </fieldset>
          </div>
          <div class="col-12">
            <label>Start time</label>
            <fieldset class="form-group" [ngClass]="{'has-danger': newTestForm.controls['testDate'].hasError('required') && newTestForm.controls['testDate'].touched}">
              <owl-date-time class="owl-widget" inputStyleClass="form-control" showButtons="true" hourFormat="12" [dateFormat]=format dataType="date" showHeader="true" [placeHolder]=format showSecondsTimer="true" [formControl]="newTestForm.controls['testDate']"></owl-date-time>
              <div class="form-control-feedback" *ngIf="newTestForm.controls['testDate'].hasError('required') && newTestForm.controls['testDate'].touched">Test Date is required.</div>
            </fieldset>
          </div>
          <div class="col-12">
            <label>Field Notes</label>
            <fieldset class="form-group" [ngClass]="{'has-danger': newTestForm.controls['fieldNotes'].hasError('required') && newTestForm.controls['fieldNotes'].touched}">
              <textarea type="text" class="form-control" placeholder="Field Notes" [formControl]="newTestForm.controls['fieldNotes']" [ngClass]="{'form-control-danger': newTestForm.controls['fieldNotes'].hasError('required') && newTestForm.controls['fieldNotes'].touched}"></textarea>
              <div class="form-control-feedback" *ngIf="newTestForm.controls['fieldNotes'].hasError('required') && newTestForm.controls['fieldNotes'].touched">Field Notes are required.</div>
            </fieldset>
          </div>
          <div class="col-12">
            <fieldset class="form-group" [ngClass]="{'has-danger': newTestForm.controls['testTypeID'].hasError('required') && newTestForm.controls['testTypeID'].touched}">
              <ng-select
                      [multiple]="false"
                      placeholder="select test type"
                      [allowClear]="true"
                      [options]="testTypeOptions"
                      [formControl]="newTestForm.controls['testTypeID']">
              </ng-select>
              <div class="form-control-feedback" *ngIf="newTestForm.controls['testTypeID'].hasError('required') && newTestForm.controls['testTypeID'].touched">Test Type is required.</div>
            </fieldset>
          </div>
          <div class="col-12">
            <fieldset class="form-group" [ngClass]="{'has-danger': newTestForm.controls['suitID'].hasError('required') && newTestForm.controls['suitID'].touched}">
              <ng-select
                      [multiple]="false"
                      placeholder="select suit"
                      [allowClear]="true"
                      [options]="suitOptions"
                      [formControl]="newTestForm.controls['suitID']">
              </ng-select>
              <div class="form-control-feedback" *ngIf="newTestForm.controls['suitID'].hasError('required') && newTestForm.controls['suitID'].touched">Test Type is required.</div>
            </fieldset>
          </div>
          <div class="col-12">
            <fieldset class="form-group" [ngClass]="{'has-danger': newTestForm.controls['userID'].hasError('required') && newTestForm.controls['userID'].touched}">
              <ng-select
                      [multiple]="false"
                      placeholder="select user"
                      [allowClear]="true"
                      [options]="userOptions"
                      [formControl]="newTestForm.controls['userID']">
              </ng-select>
              <div class="form-control-feedback" *ngIf="newTestForm.controls['userID'].hasError('required') && newTestForm.controls['userID'].touched">Test Type is required.</div>
            </fieldset>
          </div>
          <div class="col-12">
            <label>Duration</label>
            <fieldset class="form-group" [ngClass]="{'has-danger': newTestForm.controls['duration'].hasError('required') && newTestForm.controls['duration'].touched}">
              <select class="form-control" id="exampleSelect1" [formControl]="newTestForm.controls['duration']" [ngClass]="{'has-danger': newTestForm.controls['duration'].hasError('required') && newTestForm.controls['duration'].touched}">
                <option [disabled]="true" [selected]="true">Select Duration</option>
                <option value="30">30 Min</option>
                <option value="60">1 Hour</option>
                <option value="90">1 Hour 30 min</option>
                <option value="120">2 Hour</option>
                <option value="180">3 Hour</option>
                <option value="240">4 Hour</option>
              </select>
              <div class="form-control-feedback" [ngClass]="{'has-danger': newTestForm.controls['duration'].hasError('required') && newTestForm.controls['duration'].touched}" *ngIf="newTestForm.controls['duration'].hasError('required') && newTestForm.controls['duration'].touched">Duration is required.</div>
            </fieldset>
          </div>
        </div>
        <div class="block mb-3"></div>
      </div>
      <div class="modal-footer">
        <button title="Close" type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
        <button title="Start Test" class="btn btn-primary" type="submit" [disabled]="!newTestForm.valid">Begin</button>
      </div>
    </form>
  </ng-template>
</div>