<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="card card-block card-widget">
      <div class="widget-icon rounded-circle bg-green text-white icon icon-basic-headset">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          {{totalUsers}}
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Total users</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-block card-widget">
      <div class="widget-icon rounded-circle bg-blue text-white icon icon-basic-server2">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          {{suitUsers}}
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>B1 users</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-block card-widget">
      <div class="widget-icon rounded-circle bg-teal text-white icon icon-basic-magic-mouse">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          {{suitUserTestsCount}}
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>B1 user tests</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-block card-widget">
      <div class="widget-icon rounded-circle bg-red text-white icon icon-basic-heart">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          20
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Signature Fit Scores</strong>
        </small>
      </div>
    </div>
  </div>
</div>
<!--<div class="row">-->
  <!--<div class="col-sm-6 col-md-12">-->
    <!--<div id="chartDiv" class="card card-block"></div>-->
  <!--</div>-->
<!--</div>-->