<!--<div class="card">-->
  <!--<div class="card-header">-->
    <!--Api Command Sequence-->
  <!--</div>-->
  <!--<div class="card-block mb-2">-->
    <!--<div class="row">-->
      <!--<p *ngIf="apiCommandSequence.name" class="col-2">Name</p><strong *ngIf="apiCommandSequence.name" class="col-4 text-capitalize wordWrap">{{apiCommandSequence.name}}</strong><br/>-->
      <!--<p *ngIf="apiCommandSequence.nice_name" class="col-2">Nice Name</p><strong *ngIf="apiCommandSequence.nice_name" class="col-4 wordWrap">{{apiCommandSequence.nice_name}}</strong><br/>-->
      <!--<p *ngIf="apiCommandSequence.notes" class="col-2">Notes</p><strong *ngIf="apiCommandSequence.notes" class="col-4 wordWrap">{{apiCommandSequence.notes}}</strong><br/>-->
      <!--<p *ngIf="apiCommandSequence.description" class="col-2">Description</p><strong *ngIf="apiCommandSequence.description" class="col-4 wordWrap">{{apiCommandSequence.description}}</strong><br/>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="row">
  <div class="card col-12">
    <div class="card-header">
      Api Command Sequence
    </div>
    <div class="card-block row">
      <p class="col-2">Name</p><strong class="col-10 text-capitalize wordWrap"><span *ngIf="apiCommandSequence.name">{{apiCommandSequence.name}}</span></strong><br/>
      <p class="col-2">Nice Name</p><strong class="col-10 wordWrap"><span *ngIf="apiCommandSequence.nice_name">{{apiCommandSequence.nice_name}}</span></strong><br/>
      <p class="col-2">Notes</p><strong class="col-10 wordWrap"><span *ngIf="apiCommandSequence.notes">{{apiCommandSequence.notes}}</span></strong><br/>
      <p class="col-2">Description</p><strong class="col-10 wordWrap"><span *ngIf="apiCommandSequence.description">{{apiCommandSequence.description}}</span></strong><br/>
    </div>
  </div>


  <div class="card col-6">
    <div class="card-header">
      Firmware Version
    </div>
    <div class="card-block row">
      <p class="col-3">Name</p><strong class="col-9 text-capitalize wordWrap"><span *ngIf="firmwareVersion.name">{{firmwareVersion.name}}</span></strong><br/>
      <p class="col-3">Nice Name</p><strong class="col-9 wordWrap"><span *ngIf="firmwareVersion.nice_name">{{firmwareVersion.nice_name}}</span></strong><br/>
      <p class="col-3">Version</p><strong class="col-9 text-capitalize wordWrap"><span *ngIf="firmwareVersion.version">{{firmwareVersion.version}}</span></strong><br/>
      <p class="col-3">Notes</p><strong class="col-9 wordWrap"><span *ngIf="firmwareVersion.notes">{{firmwareVersion.notes}}</span></strong><br/>
      <p class="col-3">Description</p><strong class="col-9 wordWrap"><span *ngIf="firmwareVersion.description">{{firmwareVersion.description}}</span></strong><br/>
    </div>
  </div>


  <div class="card col-6">
    <div class="card-header">
      Product Version
    </div>
    <div class="card-block row">
      <p class="col-3">Version</p><strong class="col-9 text-capitalize wordWrap"><span *ngIf="productVersion.version">{{productVersion.version}}</span></strong><br/>
      <p class="col-3">Notes</p><strong class="col-9 wordWrap"><span *ngIf="productVersion.notes">{{productVersion.notes}}</span></strong><br/>
      <p class="col-3">Description</p><strong class="col-9 wordWrap"><span *ngIf="productVersion.description">{{productVersion.description}}</span></strong><br/>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <div class="card-header-text w-100 col-md-10">
      <div class="card-title">
        <h4>Api Command Sequence Revisions</h4>
        <p>Total: {{length}}</p>
      </div>
    </div>
    <!--<div class=" w-100 col-md-2 mt-3">-->
      <!--<button title="Create New" class="btn btn-primary" (click)="open(content)">New</button>-->
    <!--</div>-->
  </div>
  <div class="table-responsive mb-5">
    <table class="table table-hover mb-0 align-middle">
      <thead class="thead-inverse">
      <tr>
        <th>Version</th>
        <th>Author</th>
        <th>Period</th>
        <th>Notes</th>
        <th>Description</th>
        <!--<th></th>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let u of apiCommandSequenceRevisions">
        <td class="text-capitalize">{{u.version}}</td>
        <td class="text-capitalize">{{u.author}}</td>
        <td class="text-capitalize">{{u.period}}</td>
        <td class="text-capitalize">
          <span *ngIf="u.notes">
            <span *ngIf="u.notes.length > 100">{{u.notes.substr(0,100)}}...</span>
            <span *ngIf="!(u.notes.length > 100)">{{u.notes}}</span>
          </span>
        </td>
        <td class="text-capitalize">
          <span *ngIf="u.description">
            <span *ngIf="u.description.length > 100">{{u.description.substr(0,100)}}...</span>
            <span *ngIf="!(u.description.length > 100)">{{u.description}}</span>
          </span>
        </td>
        <!--<td>-->
          <!--<button title="View" class="btn btn-sm btn-info mb-1 mr-2"><i class="icon icon-basic-eye"></i></button>-->
          <!--<button title="Edit" class="btn btn-sm btn-info mb-1 mr-2" (click)="openEditModal(editModalContent,u.id)"><i class="icon icon-software-pencil"></i></button>-->
          <!--<button title="Delete" class="btn btn-sm btn-info mb-1"><i class="icon icon-basic-trashcan"></i></button>-->
        <!--</td>-->
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer border-top">
    <div class="row">
      <div class="col-lg-12">
        <pagination
                style="float: right !important"
                class="pagination-sm pull-right"
                firstText="««"
                previousText="«"
                nextText="»"
                lastText="»»"
                [(ngModel)]="page"
                [totalItems]="length"
                [itemsPerPage]="itemsPerPage"
                [maxSize]="maxSize"
                [boundaryLinks]="true"
                [rotate]="false"
                (pageChanged)="onChangeTable($event)"
                (numPages)="numPages = $event">
        </pagination>
      </div>
    </div>
</div>