<div class="card">
  <div class="card-header">
    <div class="card-header-text w-100 col-10">
      <button title="Create New" class="btn btn-primary" (click)="open(content)">New</button>
    </div>
  </div>
  <div class="card-block">
    <p>
      Total: {{length}}
    </p>
  </div>
  <div class="table-responsive mb-5">
    <table class="table table-hover mb-0 align-middle">
      <thead class="thead-inverse">
      <tr>
        <th>Message</th>
        <th>Created By</th>
        <th>Status</th>
        <th>Created At</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let notification of notifications">
        <th scope="row" class="text-capitalize">{{notification.message}}</th>
        <td class="text-capitalize">{{notification.sender_first_name}} {{notification.sender_last_name}}</td>
        <td><a href="javascript:;" (click)="openAwareUsersInfo(notification.id, awareUsersContent)">{{notification.read}}</a> / <a href="javascript:;" (click)="openTotalUsersInfo(notification.id, totalUsersContent)">{{notification.total}}</a></td>
        <td>{{notification.created_timestamp | date:'medium'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer border-top">
    <div class="row">
      <div class="col-lg-12">
        <pagination
                style="float: right !important"
                class="pagination-sm pull-right"
                firstText="««"
                previousText="«"
                nextText="»"
                lastText="»»"
                [(ngModel)]="page"
                [totalItems]="length"
                [itemsPerPage]="itemsPerPage"
                [maxSize]="maxSize"
                [boundaryLinks]="true"
                [rotate]="false"
                (pageChanged)="onChangeTable($event)"
                (numPages)="numPages = $event">
        </pagination>
      </div>
    </div>
  </div>
  <ng-template #content let-c="close" let-d="dismiss">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="modal-header">
        <h6 class="modal-title text-uppercase">Create Notification</h6>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <label>Message</label>
            <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['message'].hasError('required') && form.controls['message'].touched}">
              <input type="text" class="form-control" placeholder="Message" [formControl]="form.controls['message']" [ngClass]="{'form-control-danger': form.controls['message'].hasError('required') && form.controls['message'].touched}"/>
              <div class="form-control-feedback" *ngIf="form.controls['message'].hasError('required') && form.controls['message'].touched">Message is required.</div>
            </fieldset>
          </div>
        </div>
        <div class="block mb-3"></div>
      </div>
      <div class="modal-footer">
        <button title="Close" type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
        <button title="Create" class="btn btn-primary" type="submit" [disabled]="!form.valid">Create</button>
      </div>
    </form>
  </ng-template>

  <ng-template #awareUsersContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h6 class="modal-title text-uppercase">Notification Users</h6>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card">
      <div class="card-block">
        <div *ngIf="awareUsers.length; else blankBlock" class="table-responsive mb-2">
          <table class="table table-hover mb-0 align-middle">
            <thead class="thead-inverse">
            <tr>
              <th>Name</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let u of awareUsers">
              <td >
                <div class="d-flex">
                  <a class="pull-left avatar-sm" href="javascript:;">
                    <img class="img-fluid rounded-circle" *ngIf="u.profile_pic_url==null" src="assets/images/face1.jpg"/>
                    <img class="img-fluid rounded-circle" *ngIf="u.profile_pic_url!=null" src={{u.profile_pic_url}}/>
                  </a>
                  <div class="pl-3">
                    <a class="d-block text-capitalize" href="javascript:;">
                      {{u.first_name}} {{u.last_name}}
                    </a>
                    <small class="text-muted">
                      {{u.email}}
                    </small>
                  </div>
                </div>
              </td>
              <td class="text-capitalize"><span class="label label-{{u.status}}">{{u.status}}</span></td>
            </tr>
            </tbody>
          </table>
        </div>
        <ng-template #blankBlock>
          <ngb-alert [dismissible]="false">
            No one has read the notification
          </ngb-alert>
        </ng-template>
      </div>
    </div>
    <div class="modal-footer" *ngIf="awareUsers.length">
      <div class="row">
        <div class="col-lg-12">
          <pagination
                  style="float: right !important"
                  class="pagination-sm pull-right"
                  firstText="««"
                  previousText="«"
                  nextText="»"
                  lastText="»»"
                  [(ngModel)]="pageModal"
                  [totalItems]="lengthModal"
                  [itemsPerPage]="itemsPerPageModal"
                  [maxSize]="maxSizeModal"
                  [boundaryLinks]="true"
                  [rotate]="false"
                  (pageChanged)="onChangeTableAwareModal($event)"
                  (numPages)="numPagesModal = $event">
          </pagination>
        </div>
      </div>
    </div>
  </ng-template>


  <ng-template #totalUsersContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h6 class="modal-title text-uppercase">Notification Users</h6>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card">
      <div class="card-block">
        <div *ngIf="totalUsers.length; else blankBlock" class="table-responsive mb-2">
          <table class="table table-hover mb-0 align-middle">
            <thead class="thead-inverse">
            <tr>
              <th>Name</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let u of totalUsers">
              <td >
                <div class="d-flex">
                  <a class="pull-left avatar-sm" href="javascript:;">
                    <img class="img-fluid rounded-circle" *ngIf="u.profile_pic_url==null" src="assets/images/face1.jpg"/>
                    <img class="img-fluid rounded-circle" *ngIf="u.profile_pic_url!=null" src={{u.profile_pic_url}}/>
                  </a>
                  <div class="pl-3">
                    <a class="d-block text-capitalize" href="javascript:;">
                      {{u.first_name}} {{u.last_name}}
                    </a>
                    <small class="text-muted">
                      {{u.email}}
                    </small>
                  </div>
                </div>
              </td>
              <td class="text-capitalize"><span class="label label-{{u.status}}">{{u.status}}</span></td>
            </tr>
            </tbody>
          </table>
        </div>
        <ng-template #blankBlock>
          <ngb-alert [dismissible]="false">
            No Users
          </ngb-alert>
        </ng-template>
      </div>
    </div>
    <div class="modal-footer" *ngIf="totalUsers.length">
      <div class="row">
        <div class="col-lg-12">
          <pagination
                  style="float: right !important"
                  class="pagination-sm pull-right"
                  firstText="««"
                  previousText="«"
                  nextText="»"
                  lastText="»»"
                  [(ngModel)]="pageModal"
                  [totalItems]="lengthModal"
                  [itemsPerPage]="itemsPerPageModal"
                  [maxSize]="maxSizeModal"
                  [boundaryLinks]="true"
                  [rotate]="false"
                  (pageChanged)="onChangeTableTotalModal($event)"
                  (numPages)="numPagesModal = $event">
          </pagination>
        </div>
      </div>
    </div>
  </ng-template>
</div>