<div class="card">
  <div class="card-header">
    <div class="card-header-text w-100 col-10">
      <button title="Create New" class="btn btn-primary" routerLink="/functionalmovements/new">New</button>
    </div>
  </div>
  <div class="card-block"><p>Total: {{length}}</p></div>
  <div class="table-responsive mb-5">
    <table class="table table-hover mb-0 align-middle">
      <thead class="thead-inverse">
      <tr>
        <th>Name</th>
        <th>Total revisions</th>
        <th>Created At</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let da of data">
        <th scope="row">
          <a [routerLink]="[da.id]">{{da.name}}</a><br/>
          <span class="text-muted">{{da.description}}</span>
        </th>
        <td>{{da.functional_movement_revisions.length}}</td>
        <td>{{da.created_timestamp | date:'medium'}}</td>
        <td *ngIf="da.approved==null">
          <button title="Approve this movement" class="btn btn-success btn-sm mb-1" (click)="setStatus(true,da.id)">Approve</button>
          <button title="Reject this movement" class="btn btn-danger btn-sm mb-1" (click)="setStatus(false,da.id)">Reject</button>
        </td>
        <td *ngIf="da.approved==true"><span class="label label-green">Approved</span></td>
        <td *ngIf="da.approved==false"><span class="label label-red">Rejected</span></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer border-top">
    <div class="row">
      <div class="col-lg-12">
          <pagination
                  style="float: right !important"
                  class="pagination-sm pull-right"
                  firstText="««"
                  previousText="«"
                  nextText="»"
                  lastText="»»"
                  [(ngModel)]="page"
                  [totalItems]="length"
                  [itemsPerPage]="itemsPerPage"
                  [maxSize]="maxSize"
                  [boundaryLinks]="true"
                  [rotate]="false"
                  (pageChanged)="onChangeTable($event)"
                  (numPages)="numPages = $event">
          </pagination>
      </div>
    </div>
  </div>
</div>